@import "../../../shared/ui/variables.scss";

.page {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-inline: clamp(16px, 4.45vw, 64px);
  padding-block: 64px;
  &:has(.prevent-scroll) {
    overflow-y: hidden;
  }
}

.result-title {
  font-size: clamp(24px, 5vw, 72px);
}
