@import '../../../assets/variables.scss';


.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    background-color: $blue-background-color;
    color: $light-color;
    padding-inline: clamp(16px, 4.45vw, 64px);
    padding-block: 16px;
    box-sizing: border-box;
    align-items: center;

}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    @media (max-width: 768px) {
        & {
            display: none;
        }
    }
}

.nav__item {
    display: block;
}

.nav__link {
    text-decoration: none;
    color: $light-color;
    font-size: 36px;
    font-weight: 500;
}

.menu-button {
    display: none;
    background-color: transparent;

    @media (max-width: 768px) {
        & {
            display: block;
        }
    }
}