@import './assets/variables.scss';

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
}

#root {
  font-family: Inconsolata;
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;

  * {
    font-family: Inconsolata;
    line-height: 125%;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
}

body  * {
  border: none;
}

button {
  cursor: pointer;
}