@import "../../shared/ui/variables.scss";

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: $white;
  position: relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  max-width: 100vw;
  margin: 0;

  display: flex;

  position: relative;
  overflow: auto;
  &.no-scroll {
    overflow-y: hidden;
    & > * > * {padding-right: calc(64px + 16px);}
  }
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    height: 512px;
    background-color: $primary;
  }
  & * {
    font-family: Inconsolata;
    line-height: 100%;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
  }
}

button {
  cursor: pointer;
}
