@import "../../shared/ui/variables.scss";;

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: $white;
  position: relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

body {
  width: 100%;
  margin: 0;

  display: flex;
 
  position: relative;
  & * {
    font-family: Inconsolata;
    line-height: 125%;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
  }
}

button {
  cursor: pointer;
}