@import "../../../shared/ui/variables.scss";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $primary;
  padding-block: 32px;
  padding-inline: clamp(16px, 4.45vw, 64px);
  justify-content: space-between;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__nav-link {
    font-size: 48px;
    color: $white;
  }

  &__contacts {
    display: flex;
    width: fit-content;
    gap: 1.5vw;
  }

  &__contact-icon {
    width: 128px;
    aspect-ratio: 1;
  }
}
